@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Handlee&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  --main-bg-color: #fffdf9;
  --main-text-color: black;
  --font-title: "Handlee", sans serif;
  --font-text: "Athiti", sans serif;
}
